/* app/apps/videos/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --video-bg: #010203;
  --video-text: #abc4c3;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
